
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(234, 243, 243);
    font-family: "Libre Barcode 39 Text", system-ui;
    font-weight: 400;
    font-style: normal;
      
      
}